<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Consultoria Estrategica en Seguridad</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../ces.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    ../
    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- Links-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/galeria.css">

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
        <div class="contact-info mr-auto">
            <i class="icofont-envelope"></i> <a href="mailto:ventas@cesconsultoresintegrales.com">ventas@cesconsultoresintegrales.com</a>
            <i class="icofont-phone"></i>
            <a href="https://api.whatsapp.com/send?phone=+5214427491562&text=Hola,%20me%20interesan%20sus%20servicios."
               target="_blank">442 749 1562</a>
        </div>
        <div class="contact-info mr-auto">
            <i class="icofont-envelope"></i> <a href="mailto:direccion@cesconsultoresintegrales.com">direccion@cesconsultoresintegrales.com</a>
            <i class="icofont-phone"></i>
            <a href="https://api.whatsapp.com/send?phone=+5214423957988&text=Hola,%20me%20interesan%20sus%20servicios."
               target="_blank">442 395 7988</a>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/Consultor%C3%ADa-Estrat%C3%A9gica-en-Seguridad-1310111079027255"
               target="_blank" data-placement="bottom" data-toggle="tooltip"
               title="¡Visita nuestro perfil en Facebook!" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+5214423957988&text=Hola,%20me%20interesan%20sus%20servicios."
               data-toggle="tooltip" data-placement="bottom" target="_blank"
               title="¡Envianos un WhatsApp!" class="linkedin"><i class="icofont-brand-whatsapp"></i></a>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="../index.html">
            <img class="img-responsive" src="../ces.png" alt="consultoria estrategica en seguridad"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="../index.html">Inicio</a></li>
                <li class="drop-down"><a href="">Servicios</a>
                    <ul>
                        <li><a href="seguridad-privada.html">Seguridad Privada</a></li>
                        <li><a href="proteccion-civil.html">Protección Civil</a></li>
                        <li><a href="cumplimiento-legal.html">Cumplimiento Legal</a></li>
                        <li><a href="custodia-transporte.html">Custodia y transporte</a></li>
                        <li><a href="recursos-humanos.html">Recursos Humanos</a></li>
                        <li><a href="otros-servicios.html">Otros Servicios</a></li>
                    </ul>
                </li>
                <li><a href="galeria.html">Galeria</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
<main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Galeria</h2>
                <ol>
                    <li><a href="../index.html">Inicio</a></li>
                    <li>Galeria</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <section class="portfolio" id="portfolio">
                <div class="container-fluid">
                    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!--<h1 class="gallery-title">Galeria</h1>-->
                    </div>
                    <div align="center">
                        <button class="filter-button" data-filter="category1">Capacitaciones</button>
                        <button class="filter-button" data-filter="category2">Certificaciones</button>
                        <button class="filter-button" data-filter="category4">Otros Servicios</button>
                    </div>
                    <br>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img1.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img1.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestro equipo</h4>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img2.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img2.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestro equipo</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img3.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img3.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img4.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img4.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img5.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img5.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img6.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img6.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestro equipo</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img7.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img7.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img9.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img9.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img10.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img10.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img11.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img11.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img12.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img12.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img13.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img13.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img14.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img14.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img15.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img15.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img16.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img16.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img8.jpeg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img8.jpeg"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras capacitaciones</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img27.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img27.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Secretaría del Trabajo y Prevención Social - Agente capacitador externo</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img27.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img27.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Secretaría del Trabajo y Prevención Social - Agente capacitador externo</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img28.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img28.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Inscripción al padron de prestadores de servicios de seguridad privada en
                                    el Estado de Querétaro</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img17.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img17.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Diploma IMKM</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img18.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img18.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Nombramiento oficial: Director de sede KRAV MAGA</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img19.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img19.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Constancia SSP- Análisis de información</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img20.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img20.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Seminario Krav Maga Kapap</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img21.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img21.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>SEP - Prevención de riesgos en tu escuela</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img22.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img22.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Jornada de Diseño de Escenarios y Simulacros de Evacuación</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img23.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img23.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Sminario - Protección y Defensa Personal</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img24.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img24.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Jornada de Intervención en Crisis en Emergencias y Violencia</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img25.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img25.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>Curso CISSE - Adaptación y sobrevivenvia en la selva</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img26.JPG">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img26.JPG"/>
                            <div class='img-info' align="center">
                                <h4>Nuestras certificaciones</h4>
                                <p>International Association - Krav Maga Intensive Personal Protection Program</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category4">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img29.jpg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img29.jpg"/>
                            <div class='img-info' align="center">
                                <h4>Otros Servicios</h4>
                                <p>Desinfección y Sanitización</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category4">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img30.jpg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img30.jpg"/>
                            <div class='img-info' align="center">
                                <h4>Otros Servicios</h4>
                                <p>Desinfección y Sanitización</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category4">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img31.jpg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img31.jpg"/>
                            <div class='img-info' align="center">
                                <h4>Otros Servicios</h4>
                                <p>Desinfección y Sanitización</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category4">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img32.jpg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img32.jpg"/>
                            <div class='img-info' align="center">
                                <h4>Otros Servicios</h4>
                                <p>Desinfección y Sanitización</p>
                            </div>
                        </a>
                    </div>
                    <div class="gallery_product col-sm-3 col-xs-6 filter category4">
                        <a class="fancybox" rel="ligthbox" href="../assets/img/galeria/img33.jpg">
                            <img class="img-responsive" alt="" src="../assets/img/galeria/img33.jpg"/>
                            <div class='img-info' align="center">
                                <h4>Otros Servicios</h4>
                                <p>Desinfección y Sanitización</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>CE<span>Seguridad</span></h3>
                    <p>
                        Av. de la Cascada 1902-4 <br>
                        CP. 76110 Qro. Querétaro<br>
                        México <br><br>
                    </p>
                    <h4 class="mt-3" style="color: #106eea">Nuestras Redes Sociales</h4>
                    <p>Porque lo más importante es ofrecerte soluciones integrales.</p>
                    <div class="social-links mt-2">
                        <a href="https://www.facebook.com/Consultor%C3%ADa-Estrat%C3%A9gica-en-Seguridad-1310111079027255"
                           target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=+5214423957988&text=Hola,%20me%20interesan%20sus%20servicios."
                           target="_blank" class="whatsapp-icon"><i class="bx bxl-whatsapp"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Enlaces útiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="index.html">Inicio</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/templates/galeria.html">Galeria</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nuestros servicios</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="templates/seguridad-privada.html">Seguridad
                            Privada</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="templates/proteccion-civil.html">Protección
                            Civil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="templates/custodia-transporte.html">Custodia y Transporte</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="templates/cumplimiento-legal.html">Cumplimiento
                            Legal</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="templates/recursos-humanos.html">Recursos Humanos</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="templates/otros-servicios.html">Otros Servicios</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Comunicate con nosotros: </h4>
                    <p class="mt-2"><strong>Teléfono:</strong> 442 827 6751</p>
                    <p><strong>Teléfono:</strong> 442 749 15 62</p>
                    <strong class="mt-2" style="color: #106eea">Nuestros correos electrónicos:</strong>
                    <p class="mt-1">direccion@cesconsultoresintegrales.com</p>
                    <p>reclutamiento@cesconsultoresintegrales.com</p>
                    <p>seguridadprivada@cesconsultoresintegrales.com</p>
                    <p>ventas@cesconsultoresintegrales.com</p>
                    <p>transportacionesycustodias@cesconsultoresintegrales.com</p>
                    <p>cumplimientolegal@cesconsultoresintegrales.com</p>
                    <p>proteccioncivil@cesconsultoresintegrales.com</p>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>
<script src="../assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="../assets/vendor/counterup/counterup.min.js"></script>
<script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/venobox/venobox.min.js"></script>
<script src="../assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script src="../assets/js/galeria.js"></script>

</body>

</html>
